/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  display: flex;
}

/* GLOBAL-WRAPPER */
.global-wrapper {
  flex-grow: 1;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.left-content {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('../img/bg-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.left-content-wrapper {
  width: 100%;
  max-width: 285px;
}

.left-content-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Bebas Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #fff;
}

.left-content-button {
  display: inline-block;
  background-color: #1e90ff;
  border: 0;
  padding: 12px 24px;
  text-decoration: none;
}

.left-content-button:hover {
  background-color: rgba(30, 144, 255, 0.8);
}

.left-content-button:active {
  background-color: rgba(30, 144, 255, 0.6);
}

.left-content-button-inner {
  display: flex;
  align-items: center;
}

.left-button-info {
  font-family: 'Bebas Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  color: #fff;
}

.left-content-button-inner::before {
  width: 20px;
  height: 20px;
  margin-top: -5px;
  margin-right: 12px;
  background-image: url('../img/star.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: '';
}

/* RIGHT-CONTENT  */
.right-content {
  width: 100%;
  max-width: 600px;
  padding: 54px;
}


.right-content-heading {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Bebas Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 2px;
  color: #222;
}

.line {
  margin-top: 0;
  margin-bottom: 24px;
  border: 1px solid #999999;
}

.right-content-list {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  list-style-type: none;
}

.right-content-item {
  display: flex;
  align-items: center;
}

.right-content-item:not(:last-child) {
  margin-bottom: 10px;
}

.right-content-img {
  width: 160px;
  height: 90px;
  object-fit: cover;
}

.right-content-inner {
  margin-left: 16px;
}

.right-content-inner-heading {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: 'Bebas Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #222;
}

.right-content-inner-heading:hover {
  color: #1e90ff;
}

.right-content-inner-heading:active {
  color: rgba(30, 144, 255, 0.6);
}

.right-content-info {
  display: flex;
}

.right-content-time {
  display: flex;
  margin-right: 24px;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #888;
}

.right-content-time-wrapper {
  display: flex;
}

.right-content-time::before {
  width: 16px;
  height: 16px;
  margin-right: 4px;
  background-image: url('../img/clock.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: '';
}

.right-content-watch {
  display: flex;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #666;
}

.right-content-watch::before {
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background-image: url('../img/eyes.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  content: '';
}

.right-content-button {
  display: block;
  padding: 12px;
  background-color: #1e90ff;
  border-radius: 4px;
  text-align: center;
  font-family: 'Roboto Condensed', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  text-decoration: none;
}

.right-content-button:hover {
  background-color: rgba(30, 144, 255, 0.8);
}
.right-content-button:active {
  background-color: rgba(30, 144, 255, 0.6);
}


/* RETINA BG IMG  */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min--moz-device-pixel-ratio: 2),
only screen and (-o-min-device-pixel-ratio: 2/1),
only screen and (min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
  .left-content {
    background-image: url('../img/bg-img@2x.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
  }
}